# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Databases
*.db

# Machine Learning models
*.pkl

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db